:root{
  --blue: #003049;
  --red: #D62828;
  --orange: #F77F00;
  --yellow: #FCBF49;
  --tan: #EAE2B7;
  --white: #F5F5F5;
}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--blue);
  display: flex;
  justify-content: center;

}

section {
  background-color:white;
  height: 15rem;
  width: 40rem;
  border-radius: 2rem;
  margin-top: 25%;
  padding: 0;
}

form {
  height: 2rem;
  margin-top: 10rem;
  padding: 0;
  display: flex;
  justify-content: center;
  border: 1px solid red;
}
.form-container {
 
  display: flex;
  justify-content: center;
  
}


